<bxi-nav-bar></bxi-nav-bar>
<section class="page">
    <div class="sidebar">
        <bxi-sidebar></bxi-sidebar>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <bxi-welcome-message></bxi-welcome-message>
                </div>
                <div class="col-lg-12">
                    <bxi-ter-transfer></bxi-ter-transfer>
                </div>
            </div>
        </div>
    </section>
</section>