$primary-color: rgb(0, 89, 147);

.user-sidebar {
    padding: 0 6px 10px 6px;

    .sidebar-row {
        margin: -20px -20px 0 -20px !important;
    }

    .card-user-header {
        background-color: $primary-color;
        width: 100%;
        height: 115px; 
        border-radius: 8px 8px 0 0;

        .dropdown {
            margin-top: 5px;
            margin-left: -50px;
            color: white;

            .btn {
                font-size: 1.3rem;
            }
        }
    }

    .card-footer {
        background-color: white;
        width: 100%;
        height: 85px;
        border-radius: 0 0 8px 8px;
        color: $primary-color;
        line-height: 1.3;

        .balance {
            font-size: 2rem;
            font-weight: 500;
        }

        .currency {
            font-size: 1.2rem;
        }
    }

    .avatar {
        height: 50px;
        width: 50px;
        border-radius: 50px;
    }
    
    .lastConnection {
        margin-top: 10px;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.7);
        line-height: 1.3;
    }

    .card {
        margin-top: 15px; 
        width: 100%;
        min-height: 100px;
        border: none;
        background-color: transparent;
        box-shadow: 0px 0px 10px -2px #706e70;
        border-radius: 8px;
    }
}

.header-row {
    margin-top: 15px;
}

.user-card-body {
    height: 200px;
}

.selected {
    color: white;
    background-color: $primary-color;
}

.menu {
    color: $primary-color;

    .btn {
        width: 150px;
        text-align: left;
    }

    fa-icon {
        margin-right: 9px;
    }

    .credits-icon {
        margin-right: 4px;
        margin-left: 5px;
    }
}

.legal {
    color: $primary-color;
    margin-top: 10px;
    padding: 0 8px 0 8px;
    font-size: 13px;
}