<nav class="navbar bxi-navbar">
  <div class="navbar-brand mb-0 h1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 brand-align">
              <span class="brand-left">Online</span>
              <span class="brand-right">Banking</span>
            </div>
            <div class="col-lg-2">
              <div *ngIf="clientInformation" class="connection">
                <p>{{clientInformation.lastConnection}}</p>
              </div>
            </div>
            <div class="col-lg-6"></div>
            <div class="col-lg-2 brand-align text-right">
              <div class="icon-bar">
                <fa-icon [icon]="faBell"></fa-icon>
                <span class="badge">2</span>
                <fa-icon [icon]="faComment"></fa-icon>
                <span class="badge">5</span>
              </div>
            </div>
          </div>
    </div>
  </div>
</nav>